*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
}
@font-face {
    font-family: bohemian soul;
    src: url(Bohemian Soul.otf);
}
.titulo{
    color: #fea6be;
    text-align: center;
    font-family: bohemian soul;
    font-weight: normal;
    }
.banner{
width: 1519px;
height: 519px;
}

h5{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    margin: 20px;
}
.positions{
    position: relative;
}
.whatsapp{
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
}
/*estilo del menu*/
nav{
    background-color: #fea6be;
}
.menu{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.menu li a{
    margin: 8px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bolder;
    border-radius: 30px;
}
.menu li a:hover{
    color: #fea6be;
    background-color: #871f44;
    border-radius: 30px;
}
/*fin estilo del menu*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Estilo de la card*/

.card{
    background-color: #ffffff;
}
.card__titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 0.9rem;
}

.card__boton{
    background-color: #fea6be;
    border-radius: 16px;
    padding: 8px;
    margin-top: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
.final{
    font-weight: normal;
}
.card_informacion{
    width: 600px;
    padding: .8rem;
    font-display: flex;
    flex-direction: row;
    margin: 1rem;
}
.medios{
    font-size: 1.2rem;
    font-family: bohemian soul;
}
.card__redes{
    width: 40px;
}
.medios-de-pago{
    width: 50px;
    margin: 1px;
}
.contacto{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

/*NOVEDADES*/

.newsletter{
    background-color: #871f44;
    padding: 10px;
    font-display: flex;
    align-items: center;
    justify-content: center;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.novedades{
    color: #ffffff;
    font-family: 'Poppins' , sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
    margin: 1rem;
    text-align: center;
}
input, textarea{
    border: 0;
    outline: none;
}
.field{
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 300px;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}
.boton{
    background-color: #fea6be;
    color: #ffffff;
    border-radius: 6px;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    width: 90px;
    height: 40px;
    text-align: center;
    border: none;
}
/*FIN NOVEDADES*/
.pie-pagina{
    width: 100%;
    background-color: #340c1a;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box h4{
    color: #fea6be;
    font-family: Bohemian Soul;
    margin-bottom: 25px;
    font-size: 18px;
}
.pie-pagina .grupo-1 .box h6{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.pie-pagina .grupo-2{
    background-color: #2d0a16;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}
@media screen and (max-widht: 800px){
    .pie-pagina .grupo-1{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }    
}