*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: bohemian soul;
    src: url(Bohemian Soul.otf);
}

body{
    background-image: url(/imágenes/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

input, textarea{
    border: 0;
    outline: none;
}
/*estilo del menu*/
nav{
    background-color: #fea6be;
}
.menu{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.menu li a{
    margin: 8px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bolder;
    border-radius: 30px;
}
.menu li a:hover{
    color: #fea6be;
    background-color: #871f44;
    border-radius: 30px;
}
/*fin estilo del menu*/

.positions{
    position: relative;
}
.whatsapp{
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.pie-pagina{
    width: 100%;
    background-color: #340c1a;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box h4{
    color: #fea6be;
    font-family: Bohemian Soul;
    margin-bottom: 25px;
    font-size: 18px;
}
.pie-pagina .grupo-1 .box h6{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.pie-pagina .grupo-2{
    background-color: #2d0a16;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}
@media screen and (max-widht: 800px){
    .pie-pagina .grupo-1{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }    
}
.card_informacion{
    width: 600px;
    padding: .8rem;
    font-display: flex;
    flex-direction: column;
    margin: 1rem;
    
}
.medios{
    font-size: 1.2rem;
    font-family: bohemian soul;
}
.card__redes{
    width: 40px;
}
.medios-de-pago{
    width: 50px;
    margin: 1px;
}
.contacto{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
/*NOVEDADES*/

.newsletter{
    background-color: #871f44;
    padding: 10px;
    font-display: flex;
    align-items: center;
    justify-content: center;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.novedades{
    color: #ffffff;
    font-family: 'Poppins' , sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
    margin: 1rem;
    text-align: center;
}
input, textarea{
    border: 0;
    outline: none;
}
.field{
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 300px;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}
.boton{
    background-color: #fea6be;
    color: #ffffff;
    border-radius: 6px;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    width: 90px;
    height: 40px;
    text-align: center;
    border: none;
}
/*FIN NOVEDADES*/
h1{
    text-align: center;
    font-family: Bohemian Soul;
    color: #fea6be;
    font-size: 40px;
}
*{
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background-color: #212121;
    padding: 3px;
    border-radius: 10px;
}
input[type="text"],
input[type="password"]{
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-family: 'poppins', sans-serif;
}
.input-contenedor{
    margin-bottom: 15px;
}
.button{
    border: none;
    width: 100%;
    color: #000;
    font-size: 20px;
    background-color: #fea6be;
    border-radius: 20px;
    padding: 15px 20px;
    cursor: pointer;
}
.button:hover{
    background-color: #871f44;
    color: #ffffff;
}
p{
    text-align: center;
    color: #ffffff;
}
.link{
    text-decoration: none;
    color: #fea6be;
    font-weight: 600;
}
.link:hover{
    color: #871f44;
}
@media(min-widht: 768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 10%;
    }
}
.mensaje{
    color: #fea6be;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}
